.margin-tb-5rem {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.margin-tb-20px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding-tb-20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header .nav li a {
    padding: 10px 10px;
}

.nice-select .list {
    max-height: 15rem;
    min-width: 100%;
    overflow: auto;
}

.header .nav li .dropdown {
    top: auto;
}

.nice-select {
    height: 32px;
    font-size: 1rem;
    line-height: 24px;
}

.table {
    height: auto;
    width: auto;
}

.w-au {
    height: auto;
    width: auto;
}

.doctor-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.doctor-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 80% !important; /* Kart boyutunu genişlettim */
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.doctor-card p {
    margin: 2px 0;
    font-size: 0.75rem;
}

$enable-negative-margins: true;
